.main-header{
  background-color: rgba(16, 152, 173, 0.315);;
}

h1, h2, h3, h4, p, li{
  font-family: sans-serif;
  color: #444;
}

h1, h2, h3{
  color: #1098ad;
}

h1{
  font-size: 26px;
  text-transform: uppercase;
}
.primaryheading{
  font-style: italic;
}

h2{
  font-size: 40px;
}

h3{
  font-size: 30px;
}

h4{
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

p{
  font-size:20px;
  line-height: 1.5;
}

li{
  font-size: 20px;
}

/* footer p{
  font-size:16px;
} */


/* article header p{
  font-style:italic;
} */

#author{            /* # = id selector*/
  font-style:italic;
  font-size: 18px;
}

#copyright{
  font-size: 16px;
}

.related-author{
  font-size: 18px;
  font-weight: bold;
}

/* ul{
  list-style: none;
} */

.related{
  list-style: none;
}

.tags{
  font-style: italic;
  background-color: rgba(16, 152, 173, 0.315);
  border: 2px dashed #1098ad;
  border-radius: 10px;
  border-width: 2px;
  width: 10%;
}

.reasons{
  font-style: italic;
  background-color: rgba(16, 152, 173, 0.315);
  border: 2px dashed #1098ad;
}

.links{
  font-style: italic;
}

aside{
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
  border-left: none;
  border-right: none;
}